@using Microsoft.AspNetCore.Identity
@using NutriFitWeb.Models
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
***REMOVED***
        @if (User.IsInRole("gym"))
        ***REMOVED***
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Nutritionists" asp-action="ShowNutritionists">Nutricionistas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Trainers" asp-action="ShowTrainers">Treinadores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Clients" asp-action="ShowClients">Clientes</a>
            </li>
    ***REMOVED***else if (User.IsInRole("administrator"))
        ***REMOVED***
            <li class="nav-item">
                <a class="nav-link text-dark menuItem" asp-area="" asp-controller="Admins" asp-action="ShowAllUsers">Utilizadores</a>
            </li>
    ***REMOVED***

        @if (!(User.IsInRole("administrator")))
        ***REMOVED***
            <li class="nav-item">
                <a  class="nav-link text-dark menuItem" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            </li>
    ***REMOVED***
        
    <li class="nav-item logoutClick">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new ***REMOVED*** area = "" ***REMOVED***)">
            <button  type="submit" class="nav-link btn btn-link text-dark menuItem">Logout</button>
        </form>
    </li>

    @if (!(User.IsInRole("administrator")))
        ***REMOVED***
            <li class="nav-item notificationBell">
                <a  class="nav-link text-dark menuItem iconBorder" asp-area="" asp-controller="Home" asp-action="Index"><img class="icons" src="~/icons/notificationIcon.svg"/></a>  
            </li>
    ***REMOVED***
    
***REMOVED***
else
***REMOVED***
    /*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*/
    <li class="nav-item">
        <a class="nav-link text-dark menuItem" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
***REMOVED***
</ul>
