@model NutriFitWeb.Models.Client
@using NutriFitWeb.Models
@using Microsoft.AspNetCore.Identity
@using NutriFitWeb.Services
@inject UserManager<UserAccountModel> UserManager
@inject IPhotoManagement PhotoManagement
@{
    ViewData["Title"] = "Editar perfil do Cliente";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="col-md-8 profileDivs">
    <form asp-action="EditClientSettings" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ClientId" />
        <div class="form-group">
            <label asp-for="ClientProfilePhoto" class="control-label listsItemTitle">Foto de Perfil</label>
            <input type="file" asp-for="ClientProfilePhoto" class="form-control" name="formFile"/>
            <span asp-validation-for="ClientProfilePhoto" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClientFirstName" class="control-label listsItemTitle"></label>
            <input asp-for="ClientFirstName" class="form-control" />
            <span asp-validation-for="ClientFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClientLastName" class="control-label listsItemTitle"></label>
            <input asp-for="ClientLastName" class="form-control" />
            <span asp-validation-for="ClientLastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClientBirthday" class="control-label listsItemTitle"></label>
            <input asp-for="ClientBirthday" class="form-control" />
            <span asp-validation-for="ClientBirthday" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Weight" class="control-label listsItemTitle"></label>
            <input asp-for="Weight" class="form-control" />
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Height" class="control-label listsItemTitle"></label>
            <input asp-for="Height" class="form-control" />
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
    @if(Model.ClientProfilePhoto is not null)
    {
        <img src=@Model.ClientProfilePhoto.PhotoUrl; />
    }

</div>

@if (User.IsInRole("administrator"))
{
    <div class="backBtnDiv">
    
        <a asp-controller="Admins" asp-action="ShowAllUsers" class="backToListBtn">Voltar</a>
    </div>
}


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
