@model NutriFitWeb.Models.Client

@{
    ViewData["Title"] = "Editar perfil do Cliente";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="col-md-8 profileDivs">
    <form asp-action="EditClientForTrainerAndNutritionist">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ClientId" /> 
        <table class="formTables">
                <tr>
                    <th class="alignTableTitles"><label asp-for="Weight" class="control-label listsItemTitle"></label></th>
                    <td>
                        <input asp-for="Weight" class="formsInput" />
                        <br />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="alignTableTitles"><label asp-for="Height" class="control-label listsItemTitle"></label></th>
                    <td>
                        <input asp-for="Height" class="formsInput" />
                        <br />
                        <span asp-validation-for="Height" class="text-danger"></span>
                    </td>
                </tr>
                @if(User.IsInRole("nutritionist")){
                    <tr>
                        <th class="alignTableTitles"><label asp-for="LeanMass" class="control-label listsItemTitle"></label></th>
                        <td>
                            <input asp-for="LeanMass" class="formsInput" />
                            <br />
                            <span asp-validation-for="LeanMass" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="alignTableTitles"><label asp-for="FatMass" class="control-label listsItemTitle"></label></th>
                        <td>
                            <input asp-for="FatMass" class="formsInput" />
                            <br />
                            <span asp-validation-for="FatMass" class="text-danger"></span>
                        </td>
                    </tr>
                }
                <tr>
                    <th class="alignTableTitles"><label asp-for="OtherClientData" class="control-label listsItemTitle"></label></th>
                    <td>
                        <input asp-for="OtherClientData" class="formsInput" />
                        <br />
                        <span asp-validation-for="OtherClientData" class="text-danger"></span>
                    </td>
                </tr>
        </table>

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="backBtnDiv">
    <a asp-action="ShowClients" class="backToListBtn">Voltar</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
