@***REMOVED***
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    ***REMOVED***
            Layout = parentLayout as string;
***REMOVED***
    else
    ***REMOVED***
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
***REMOVED***
***REMOVED***

<h1>Gerir Conta</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts ***REMOVED***
    @RenderSection("Scripts", required: false)
***REMOVED***
