@page
@model DownloadPersonalDataModel
@***REMOVED***
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
***REMOVED***

<h3>@ViewData["Title"]</h3>

@section Scripts ***REMOVED***
    <partial name="_ValidationScriptsPartial" />
***REMOVED***
