@model NutriFitWeb.Models.NutritionPlan
@using Microsoft.AspNetCore.Identity
@inject UserManager<UserAccountModel> UserManager

@***REMOVED***
    ViewData["Title"] = "Criar plano de nutrição";
***REMOVED***

<h1>@ViewData["Title"]</h1>

<hr />
<div class="col-md-8 profileDivs">
    <form asp-controller="NutritionPlans" asp-action="CreateNutritionPlan">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Criar" class="btn btn-primary createBtn" />
        </div>
        <div>
            <label asp-for="NutritionPlanName" class="control-label">Nome &emsp; &ensp;</label>
            <input asp-for="NutritionPlanName" class="formsInput nameInput" />
            <br />
            <span asp-validation-for="NutritionPlanName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="NutritionPlanDescription" class="control-label">Descrição &nbsp;</label>
            <textarea asp-for="NutritionPlanDescription" class="descriptionBox"></textarea>
            <span asp-validation-for="NutritionPlanDescription" class="text-danger"></span>
        </div>
        @if (User.IsInRole("nutritionist"))
        ***REMOVED***
            @if (ViewBag.ClientEmail is null)
                ***REMOVED***
                    <tr>
                        <th class="alignTableTitles"><label asp-for="ClientEmail" class="control-label">Cliente</label></th>
                        <td>
                            <input required="true" asp-for="ClientEmail" class="formsInput" />
                            <br />
                            <span asp-validation-for="ClientEmail" class="text-danger"></span>
                        </td>
                    </tr>
            ***REMOVED***
                else
                ***REMOVED***
                    <tr>
                        <th class="alignTableTitles"><label asp-for="ClientEmail" class="control-label">Cliente</label></th>
                        <td>
                            @***REMOVED***
                                string clientEmail = (string)await ViewBag.ClientEmail;
                        ***REMOVED***
                            <p>@clientEmail</p>
                        </td>
                    </tr>
            ***REMOVED***
    ***REMOVED***

    </form>
    <div id="_CreateMealPartialItem">
        <partial name="~/Views/Meals/_CreateMealPartial.cshtml" />
    </div>
    <div id="_ShowMealsPartialList" class="exListMargin">
        <partial name="~/Views/Meals/_ShowMealsPartial.cshtml" />
    </div>
</div>

<div class="backBtnDiv">
    <a class="backToListBtn" asp-action="ShowNutritionPlans">Voltar</a>
</div>

@section Scripts ***REMOVED***
    @***REMOVED***
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
***REMOVED***
***REMOVED***
