@model NutriFitWeb.Models.NutritionPlan

@***REMOVED***
    ViewData["Title"] = "Remover";
***REMOVED***

<h1>Apagar Plano de Nutrição</h1>

<hr />
<p><b>Tem a certeza que pretende apagar este plano de nutrição?</b></p>
<p class="deleteB">Nome:</p>
<p><b>@Html.DisplayFor(model => model.NutritionPlanName)</b></p>
<p class="deleteB">Descrição:</p>

@if (Model.NutritionPlanDescription is null || Model.NutritionPlanDescription == "")
***REMOVED***
    <p><b>N/A</b></p>
***REMOVED***
else
***REMOVED***
    <p><b>@Html.DisplayFor(model => model.NutritionPlanDescription)</b></p>
***REMOVED***

<form asp-action="DeleteNutritionPlan">
    <input type="hidden" asp-for="NutritionPlanId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
<a class="backToListBtn" asp-action="ShowNutritionPlans">Voltar</a>