@model NutriFitWeb.Models.TrainingPlanRequest

@***REMOVED***
    ViewData["Title"] = "Create";
***REMOVED***

<h1>Create</h1>

<h4>TrainingPlanRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTrainingPlanRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainingPlanRequestName" class="control-label"></label>
                <input asp-for="TrainingPlanRequestName" class="form-control" />
                <span asp-validation-for="TrainingPlanRequestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingPlanRequestDescription" class="control-label"></label>
                <input asp-for="TrainingPlanRequestDescription" class="form-control" />
                <span asp-validation-for="TrainingPlanRequestDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts ***REMOVED***
    @***REMOVED***await Html.RenderPartialAsync("_ValidationScriptsPartial");***REMOVED***
***REMOVED***
