@using NutriFitWeb.Services
@using Microsoft.AspNetCore.Identity
@model NutriFitWeb.Models.Gym
@inject SignInManager<UserAccountModel> SignInManager
@inject UserManager<UserAccountModel> UserManager

@inject ICountUsers CountUsers

@{
    ViewData["Title"] = "Gym Home Page";
}

<div class="text-center">
    <h1 class="display-4">@User.Identity?.Name.ToUpper()</h1>
    <p class="mainPageGyms">Clientes: @CountUsers.UserCount("Client", UserManager.GetUserId(User)).Count()</p>
    <p class="mainPageGyms">Treinadores: contar número de utilizadores com role Trainer</p>
    <p class="mainPageGyms">Nutricionistas: contar número de utilizadores com role Nutricionist</p>

</div>
