@model int

@{
    ViewData["Title"] = "Gym Home Page";
}

<div class="text-center">
    <h1 class="display-4">@User.Identity?.Name.ToUpper()</h1>
    <p class="mainPageGyms">Clientes: </p>
    <p class="mainPageGyms">Treinadores: contar número de utilizadores com role Trainer</p>
    <p class="mainPageGyms">Nutricionistas: contar número de utilizadores com role Nutricionist</p>

</div>
