@model NutriFitWeb.Models.Gym

@***REMOVED***
    ViewData["Title"] = "Editar perfil do Ginásio";
***REMOVED***

<h1>@ViewData["Title"]</h1>
<hr />
<div class="col-md-4 profileDivs">
    <form asp-action="EditGymSettings"  enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="GymId" />
        <div class="form-group">
            <label asp-for="GymProfilePhoto" class="control-label listsItemTitle">Foto de Perfil</label>
            @if(Model.GymProfilePhoto is not null)
            ***REMOVED***
                <img class="profilePhoto" src="@Model.GymProfilePhoto.PhotoUrl" />
        ***REMOVED***
            <input type="file" asp-for="GymProfilePhoto" class="form-control marginFixChooseFile" name="formFile"/>
            <span asp-validation-for="GymProfilePhoto" class="text-danger"></span>
        </div>

        <table class="formTables">
                <tr>
                    <th class="alignTableTitles"><label asp-for="GymName" class="control-label listsItemTitle"></label></th>
                    <td>
                        <input asp-for="GymName" class="formsInput" />
                        <span asp-validation-for="GymName" class="text-danger"></span>
                    </td>
                </tr>
        </table>

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
</div>
<div class="backBtnDiv">
    @if (User.IsInRole("administrator"))
    ***REMOVED***
        <a asp-controller="Admins" asp-action="ShowAllUsers" class="backToListBtn">Voltar</a>
***REMOVED***
</div>

@section Scripts ***REMOVED***
    @***REMOVED***
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
***REMOVED***
***REMOVED***
