@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.IsInRole("gym"))
    {
        <partial name="_GymHome" />
    }
    else if (User.IsInRole("administrator"))
    {
        <partial name="_AdminHome" />
    }
    else
    {
        <h1 class="notLoggedInHome">Bem Vindo ao NutriFit</h1>
        <img src="~/images/MainPageNotLoggedIn.png" alt="MainPageWithoutLoginImage" class="notLoggedInHome imageHome"/>
        <p class="notLoggedInHome"><b>Planeie os seus treinos e planos alimentares com diversos profissionais do seu ginásio ou outros ginásios aderentes!</b></p>
    }
</div>
