@***REMOVED***
    ViewData["Title"] = "Home Page";
***REMOVED***

<div class="text-center">
    @if (User.IsInRole("gym"))
    ***REMOVED***
        <partial name="~/Views/Gyms/_GymHome.cshtml" />
***REMOVED***
    else if (User.IsInRole("administrator"))
    ***REMOVED***
        <partial name="~/Views/Admins/_AdminHome.cshtml" />
***REMOVED***
    else if (User.IsInRole("trainer"))
    ***REMOVED***
        <partial name="~/Views/Trainers/_TrainerHome.cshtml" />
***REMOVED***
    else
    ***REMOVED***
        <h1 class="notLoggedInHome">Bem Vindo ao NutriFit</h1>
        <img src="~/images/MainPageNotLoggedIn.png" alt="MainPageWithoutLoginImage" class="notLoggedInHome imageHome" />
        <p class="notLoggedInHome"><b>Planeie os seus treinos e planos alimentares com diversos profissionais do seu ginásio ou outros ginásios aderentes!</b></p>
***REMOVED***
</div>
