@model IEnumerable<NutriFitWeb.Models.Exercise>


<h2>Exercícios</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Exercício
            </th>
            <th>
                Descrição
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        {
            @foreach (var item in Model.Select((value, i) => new { i, value }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.value.ExerciseName)
                    </td>
                    <td>
                        @if (String.IsNullOrEmpty(item.value.ExerciseDescription))
                        {
                            <p>N/A</p>
                        }else{
                            @Html.DisplayFor(modelItem => item.value.ExerciseDescription)
                        }
                    </td>
                    <td>
                        <a asp-action="DeleteExercise" asp-controller="Exercises" data-ajax="true" data-ajax-update="#_ShowExercisesPartialList"
                   asp-route-id="@item.i"><img class="removeIcon icons" src="~/icons/removeIcon.svg" /></a>
                        <a asp-action="EditExercise" asp-controller="Exercises" data-ajax="true" data-ajax-success="UpdateExercisesList" data-ajax-complete="RefreshUnobtrusiveValidation"
                            data-ajax-update="#_CreateExercisePartialItem" asp-route-id="@item.i"><img class="editIcon" src="~/icons/editProfileIcon.svg" /></a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
