@model NutriFitWeb.Models.TrainingPlan
@using Microsoft.AspNetCore.Identity
@inject UserManager<UserAccountModel> UserManager
@***REMOVED***
    ViewData["Title"] = "Criar plano de treino";
***REMOVED***

<h1>@ViewData["Title"]</h1>

<hr />
<div class="col-md-12 profileDivs">
    <form asp-controller="TrainingPlans" asp-action="CreateTrainingPlan">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Criar" class="btn btn-primary createBtn" />
        </div>
        <div>
            <label asp-for="TrainingPlanName" class="control-label">Nome &emsp; &ensp;</label>
            <input asp-for="TrainingPlanName" class="formsInput nameInput" />
            <br />
            <span asp-validation-for="TrainingPlanName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="TrainingPlanDescription" class="control-label">Descrição &nbsp;</label>
            <textarea asp-for="TrainingPlanDescription" class="descriptionBox"></textarea>
            <span asp-validation-for="TrainingPlanDescription" class="text-danger"></span>
        </div>
        @if (User.IsInRole("trainer"))
        ***REMOVED***
            <div>
                <label asp-for="ClientEmail" class="control-label">Cliente &emsp; &nbsp;</label>
                <input required="true" asp-for="ClientEmail" class="formsInput" />
                <br />
                <span asp-validation-for="ClientEmail" class="text-danger"></span>
            </div>
    ***REMOVED***

    </form>
    <div id="_CreateExercisePartialItem">
        <partial name="~/Views/Exercises/_CreateExercisePartial.cshtml" />
    </div>
    <div id="_ShowExercisesPartialList">
        <partial name="~/Views/Exercises/_ShowExercisesPartial.cshtml" />
    </div>
</div>
<div>
    <a class="backToListBtn" asp-action="ShowTrainingPlans">Voltar</a>
</div>

@section Scripts ***REMOVED***
    @***REMOVED***
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
***REMOVED***
***REMOVED***
