@model NutriFitWeb.Models.TrainingPlan

@{
    ViewData["Title"] = "Criar plano de treino";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4 center-content">
        <form asp-action="CreateTrainingPlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainingPlanName" class="control-label"></label>
                <input asp-for="TrainingPlanName" class="form-control" />
                <span asp-validation-for="TrainingPlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingPlanDescription" class="control-label"></label>
                <input asp-for="TrainingPlanDescription" class="form-control" />
                <span asp-validation-for="TrainingPlanDescription" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <partial name="~/Views/Exercises/_CreateExercisePartial.cshtml" />
        <div id="_ShowExercisesPartialList">
            <partial name="~/Views/Exercises/_ShowExercisesPartial.cshtml" />
        </div>
        
    </div>
</div>

<div>
    <a asp-action="ShowTrainingPlans">Back to List</a>
</div>

@section Scripts {
     <script>
        function onSuccess(response){
            alert(response);
        }
        function clearForm(){
            $('#_CreateExercisePartialForm').trigger("reset");
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
