@model NutriFitWeb.Models.TrainingPlan

<h2>Tem a certeza que pretende apagar este plano de treino?</h2>

<table class="formTables">
    <tr>
        <th><p class="control-label listsItemTitle">Nome</p></th>
        <td><p class="itemsLeftMargin"><b>@Html.DisplayFor(model => model.TrainingPlanName)</b></p></td>
    </tr>
    <tr>
        <th><p class="control-label listsItemTitle">Descrição</p></th>
        <td>
            @if (Model.TrainingPlanDescription is null || Model.TrainingPlanDescription == "")
            {
                <p><b>N/A</b></p>
            }
            else
            {
                <p><b>@Html.DisplayFor(model => model.TrainingPlanDescription)</b></p>
            }
        </td>
    </tr>
</table>

<form asp-action="DeleteTrainingPlan">
    <input type="hidden" asp-for="TrainingPlanId" />
    <input type="submit" value="Apagar" class="btn btn-danger" />
</form>

<div class="backBtnDiv">
    <a asp-action="ShowTrainingPlans" class="backToListBtn">Voltar</a>
</div>