@model NutriFitWeb.Models.TrainingPlan

@***REMOVED***
    ViewData["Title"] = "Editar plano de treino";
***REMOVED***

<h1>@ViewData["Title"]</h1>

<hr />
    <div class="col-md-4 profileDivs">
        <form asp-action="EditTrainingPlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrainingPlanId" />
            <div class="form-group">
                <label asp-for="TrainingPlanName" class="control-label">Nome</label>
                <input asp-for="TrainingPlanName" class="form-control" />
                <span asp-validation-for="TrainingPlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingPlanDescription" class="control-label">Descrição</label>
                <input asp-for="TrainingPlanDescription" class="form-control" />
                <span asp-validation-for="TrainingPlanDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>

<div class="backBtnDiv">
    <a asp-action="ShowTrainingPlans" class="backToListBtn">Voltar</a>
</div>

@section Scripts ***REMOVED***
    @***REMOVED***await Html.RenderPartialAsync("_ValidationScriptsPartial");***REMOVED***
***REMOVED***
