@model NutriFitWeb.Models.TrainingPlan

<h1>Editar plano de treino</h1>

<div class="col-md-12 profileDivs">
    <form asp-controller="TrainingPlans" asp-action="EditTrainingPlan">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Editar" class="btn btn-primary createBtn" />
        </div>
        <div class="form-group">
            <label asp-for="TrainingPlanName" class="control-label">Nome</label>
            <input asp-for="TrainingPlanName" class="form-control" aria-required="true" />
            <span asp-validation-for="TrainingPlanName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TrainingPlanDescription" class="control-label">Descrição</label>
            <input asp-for="TrainingPlanDescription" class="form-control" />
            <span asp-validation-for="TrainingPlanDescription" class="text-danger"></span>
        </div>
    </form>
    <div id="_CreateExercisePartialItem">
        <partial name="~/Views/Exercises/_CreateExercisePartial.cshtml" model=@Model.Exercise />
    </div>
    <div id="_ShowExercisesPartialList">
        <partial name="~/Views/Exercises/_ShowExercisesPartial.cshtml" model=@Model.Exercises />
    </div>
</div>

<div class="backBtnDiv">
    <a asp-action="ShowTrainingPlans" class="backToListBtn">Voltar</a>
</div>

@section Scripts ***REMOVED***
<script>
    function UpdateExercisesList() ***REMOVED***
            $.ajax(***REMOVED***
                url: "@Url.Action("ShowExercisesList", "Exercises")",
                type: "GET",
                datatype: "HTML",
                success: function (data) ***REMOVED***
                    $("#_ShowExercisesPartialList").html(data);
            ***REMOVED***
        ***REMOVED***)
    ***REMOVED***
    function UpdateCreateExercise() ***REMOVED***
            $.ajax(***REMOVED***
                url: "@Url.Action("GetCleanCreateExercisePartial", "Exercises")",
                type: "GET",
                datatype: "HTML",
                success: function (data) ***REMOVED***
                    $("#_CreateExercisePartialItem").html(data);
            ***REMOVED***
        ***REMOVED***)
    ***REMOVED***
</script>
    @***REMOVED***
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
***REMOVED***
***REMOVED***

