@model NutriFitWeb.Models.TrainingPlan

<h1>Editar plano de treino</h1>

<div class="col-md-12 profileDivs">
    <form asp-controller="TrainingPlans" asp-action="EditTrainingPlan">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Editar" class="btn btn-primary createBtn" />
        </div>

        <table class="formTables">
                <tr>
                    <th class="alignTableTitles"><label asp-for="TrainingPlanName" class="control-label">Nome</label></th>
                    <td>
                        <input asp-for="TrainingPlanName" class="formsInput" aria-required="true" />
                        <br />
                        <span asp-validation-for="TrainingPlanName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th><label asp-for="TrainingPlanDescription" class="control-label">Descrição</label></th>
                    <td>
                        <textarea asp-for="TrainingPlanDescription" class="descriptionBox"></textarea>
                        <span asp-validation-for="TrainingPlanDescription" class="text-danger"></span>
                    </td>
                </tr>
        </table>
    </form>
    <div id="_CreateExercisePartialItem">
        <partial name="~/Views/Exercises/_CreateExercisePartial.cshtml" model=@Model.Exercise />
    </div>
    <div id="_ShowExercisesPartialList">
        <partial name="~/Views/Exercises/_ShowExercisesPartial.cshtml" model=@Model.Exercises />
    </div>
</div>

<div class="backBtnDiv">
    <a asp-action="ShowTrainingPlans" class="backToListBtn">Voltar</a>
</div>

@section Scripts ***REMOVED***
    @***REMOVED***
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
***REMOVED***
***REMOVED***

