@model NutriFitWeb.Models.TrainingPlan

@{
    ViewData["Title"] = "Detalhes do Plano de Treino";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="col-md-4 profileDivs">
    <dl class="row">
        <dt class = "col-sm-12 listsItemTitle">
            Nome
        </dt>
        <dd class = "col-sm-12">
            @if(Model.TrainingPlanName == null || Model.TrainingPlanName == "")
            {
                <p>N/A</p>
            }else{
                @Html.DisplayFor(model => model.TrainingPlanName)
            }
        </dd>
        <dt class = "col-sm-12 listsItemTitle">
            Descrição
        </dt>
        <dd class = "col-sm-12">
            @if(Model.TrainingPlanDescription == null || Model.TrainingPlanDescription == "")
            {
                <p>N/A</p>
            }else{
                @Html.DisplayFor(model => model.TrainingPlanDescription)
            }
        </dd>
    </dl>    
    </div>
<div class="backBtnDiv">
    <a asp-action="ShowTrainingPlans" class="backToListBtn">Voltar</a>
</div>
