@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Não tem permissão para aceder a este recurso.</p>
    <div class="backBtnDiv">
        <a asp-action="Index"  class="backToListBtn">Voltar</a>
    </div>
</header>
