@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Criar Conta</h1>

    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.UserName"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div class="form-floating">
                <label class="userType">Tipo de Utilizador</label>
                <select style="margin-bottom:20px" class="form-control" id="AccountType" name="AccountType" label="Tipo de Utilizador">
                   <option value="client">Cliente</option>
                   <option value="trainer">Treinador</option>
                   <option value="nutricionist">Nutricionista</option>
                   <option value="gym">Ginásio</option>
                </select>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registar</button>
                   
        </form>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
