@using NutriFitWeb.Services
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Admin Home Page";
}


<table class="table">
    <thead>
        <tr>
            <th>Tipo de Cliente</th>
            <th>ações</th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {@**@
        <tr>
            <td>cliente</td>           
            <td><p>Eliminar     Editar</p>
            </td>
        </tr>
        <tr>
            <td>nutricionista</td>
            <td><p>Eliminar     Editar</p>
            </td>
        </tr>
        <tr>
            <td>treinador</td>
            <td><p>Eliminar     Editar</p>
            </td>
        </tr>
@*}*@
    </tbody>
</table>