@using NutriFitWeb.Services
@using Microsoft.AspNetCore.Identity

@***REMOVED***
    ViewData["Title"] = "Admin Home Page";
***REMOVED***

<h1>Bem Vindo Administrador!</h1>
<p>Clique na opção <b><i>Utilizadores</i></b> para editar perfis ou eliminar utilizadores.</p>
<img src="~/images/admin.png" alt="MainPageAdminImage" class="notLoggedInHome imageHome"/>