@model NutriFitWeb.Models.UserAccountModel

@{
    ViewData["Title"] = "DeleteUserAccount";
}

<h1>Apagar Conta</h1>

<h3>Tem a certeza que pretende remover o cliente @Html.DisplayFor(model => model.UserName) (@Html.DisplayFor(model => model.Email))?</h3>
<div>
    <hr />
    <form asp-action="DeleteUserAccount">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Desativar" class="btn btn-danger" /> |
        <a asp-action="ShowAllUsers">Back to List</a>
    </form>
</div>
