@model IEnumerable<NutriFitWeb.Models.Meal>


<h2>Refeições</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome da Refeição
            </th>
            <th>
                Descrição
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        ***REMOVED***
            @foreach (var item in Model.Select((value, i) => new ***REMOVED*** i, value ***REMOVED***))
            ***REMOVED***
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.value.MealName)
                    </td>
                    <td>
                        @if (String.IsNullOrEmpty(item.value.MealDescription))
                        ***REMOVED***
                            <p>N/A</p>
                    ***REMOVED***
                        else
                        ***REMOVED***
                            @Html.DisplayFor(modelItem => item.value.MealDescription)
                    ***REMOVED***
                    </td>
                    <td>
                        <a asp-action="DeleteMeal" asp-controller="Meals" data-ajax="true" data-ajax-update="#_ShowMealsPartialList"
                   asp-route-id="@item.i"><img class="removeIcon icons" src="~/icons/removeIcon.svg" /></a>
                        <a asp-action="EditMeal" asp-controller="Meals" data-ajax="true" data-ajax-success="UpdateMealsList"
                   data-ajax-update="#_CreateMealPartialItem" asp-route-id="@item.i"><img class="editIcon" src="~/icons/editProfileIcon.svg" /></a>
                    </td>
                </tr>
        ***REMOVED***

    ***REMOVED***
    </tbody>
</table>
<br />