html ***REMOVED***
  font-size: 14px;
***REMOVED***

@media (min-width: 768px) ***REMOVED***
  html ***REMOVED***
    font-size: 16px;
  ***REMOVED***
***REMOVED***

html ***REMOVED***
  position: relative;
  min-height: 100%;
***REMOVED***

body ***REMOVED***
  margin-bottom: 60px;
***REMOVED***