@model NutriFitWeb.Models.TrainingPlanNewRequest

@***REMOVED***
    ViewData["Title"] = "Create";
***REMOVED***

<h1>Create</h1>

<h4>TrainingPlanNewRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTrainingPlanNewRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrainingPlanNewRequestName" class="control-label"></label>
                <input asp-for="TrainingPlanNewRequestName" class="form-control" />
                <span asp-validation-for="TrainingPlanNewRequestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingPlanNewRequestDescription" class="control-label"></label>
                <input asp-for="TrainingPlanNewRequestDescription" class="form-control" />
                <span asp-validation-for="TrainingPlanNewRequestDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowTrainingPlanNewRequests">Back to List</a>
</div>

@section Scripts ***REMOVED***
    @***REMOVED***await Html.RenderPartialAsync("_ValidationScriptsPartial");***REMOVED***
***REMOVED***
